{% extends './template.html' %}

{% block content %}
<h2 class=" text-center ">EDITAR CLIENTE</h2>
<form class="w-50  shadow mx-auto  p-4  m-3 text-center  " method="POST"
    action="{% url 'tienda:cliente_editar' cliente.id %}">
    {% csrf_token %}
    <!-- id oculto -->
    <input type="hidden" name="id" value="{{cliente.id}}">
    Nombre: <input type="text" name="nombre" class="form-control  my-1" required value="{{cliente.nombre}}">
    email: <input type="email" name="email" class="form-control my-1" required value="{{cliente.email}}">
    telefono: <input type="tel" name="telefono" class="form-control my-1" required value="{{cliente.telefono}}">

    <input type="submit" value="Actualizar" class=" btn btn-warning  ">
</form>
{% endblock content %}