{% extends 'tienda/template.html' %}
{% block content %}
<!-- MENSAJES DE CONFIRMACION -->
{% if messages %}
{% for message in messages %}
<div class="alert alert-success text-center">{{ message }}</div>
{% endfor %}
{% endif %}

<!-- PERFIL DEL USUARIO -->
<h2 class="text-center">MI PERFIL</h2>

<div class="w-50 shadow mx-auto p-4 m-3 text-center">
    <strong>Nombre de usuario:</strong> {{ user.username }}
    <br><a href="{% url 'login:password_editar' %}" class="btn btn-danger">Cambiar contraseña</a><br>

    <div>
        <br>
        <h2><span class="form-control-color text-black-50">Datos personales:</span></h2>
        {% if user %}
        <ul>
            <li><strong>Email:</strong> {{ user.email }}</li>
            <li><strong>Nombre:</strong> {{ user.first_name }}</li>
            <li><strong>Apellido:</strong> {{ user.last_name }}</li>
            <li>Fecha de registro: {{ usuario.date_joined }}</li>
        </ul>
        {% endif %}
        <a href="{% url 'login:usuario_editar' %}" class="btn btn-warning">Editar Perfil</a>
    </div>
</div>
{% endblock %}
